#book-detail{
    padding: 20px 10px;
    display: block;
    position: inherit;
}

#book-detail #book-cover img{
    width: 240px!important;
    height: 325px!important;
    display: inline!important;
}

#book-detail #book-cover{
    display: inline;
}

#book-detail #description{
    width: 350px;
    display: inline;
    margin: 0px 40px;
}

#book-detail #description .title{
    font-size: 20px;
    font-weight: 400;
    color: #0f92ff;
    line-height: 25px;
    margin: 10px 0;
}

#book-detail #description .item {
    font-size: 12px;
    margin: 15px 3px;
}

#book-detail #description div span{
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

#book-detail #cost-detail{
    margin-top: 50px;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px;
    margin-left: 40px;
    font-size: 16px;

    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 4px solid #ececec;
    border-top-color: rgb(236, 236, 236);
    border-top-style: solid;
    border-top-width: 4px;
    border-right-color: rgb(236, 236, 236);
    border-right-style: solid;
    border-right-width: 4px;
    border-bottom-color: rgb(236, 236, 236);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left-color: rgb(236, 236, 236);
    border-left-style: solid;
    border-left-width: 4px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#book-detail #cost-detail .title{
    line-height: 40px;
    border-bottom: 1px dashed #c7c7c7;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(199, 199, 199);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

#book-detail #cost-detail .cost{
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px dashed #c7c7c7;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(199, 199, 199);
}

#book-detail #cost-detail .exists{
    background-image: url('../images/tick.png');
    border-radius: 0px;
    background-repeat: no-repeat;
    background-position-x: 60px;
    background-position-y: 5px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: right;
    line-height: 1.5;
}

#book-detail .cost span{
    font-weight: bold;
    color: #ca2027;
    font-size: 18px;
   float: right;
}

#book-detail #cost-detail button{
    padding: auto;
}

#book-detail #cur-genere h2{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px #e7e7e7 solid;
}