.book-box{
    min-height: 130px;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    width: 200px;
    display: block;
}

.book-box:hover{
    box-shadow: 0px 0px 4px #999;
    transition: all 0.5s ease 0s;
}

.book-box a{
    color: #333;
    font-size: 13px;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 18px;
    font-weight: bold;
    width: 80%;
}

.book-box p{
    margin: 0 !important;
}

.book-box .title{
    margin: 0px;
    height: 36px;
}

.book-box .img {
    margin: auto;
    overflow: hidden;
    padding-right: 10px;
    padding-top: 10px;
}

.book-box .img img{
    width: 175px;
}

.book-box .author{
    font-size: 11px;
    color: #777;
    padding-top: 3px;
    text-align: left;
}

.book-box .cost{
    font-size: 14px;
    color: #444;
    font-weight: 700;
    text-align: left;
}

.book-box .add-to-cart{
    padding-right: 5px;
    padding-left: 5px;
}

.book-box .add-to-cart img{
    height: 14px;
    width: 18px;
}

.book-box .btn-add{
    padding-right: 10px;
    padding-bottom: 5px;
    visibility: hidden;
}

.book-box:hover > .btn-add{
    visibility: visible;
}