body {
    overflow: hidden;
}

.container
{
    width: 800px;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 10px solid #FFF;
    margin-top: 10px;
}