<div id="book-detail" ng-controller="b-detailController">
    <div id="book-cover" class="pull-left"><img ng-src="{{book.image}}"></div>
    <div id="more-detail">
        <div id="description" class="pull-left">
            <div class="title fa fa-book" aria-hidden="true">&nbsp;&nbsp;<a href="#book-detail/{{book.id}}/{{book.title}}" title="{{book.title}}">{{book.title}}</a></div>
            <div class="item">Tác giả: {{book.author}}</div>
            <div class="item">Nhà xuất bản:  </div>
            <div class="item">Đơn vị phát hành: </div>
            <div class="item">Ngày xuất bản: {{book.date}} </div>
            <div><span>Rất nhiểu tình huống có thể xảy ra trong mối quan hệ giữa người bán hàng và khách hàng. Người bán hàng giỏi là người biết giải quyết các mối quan hệ đó một cách suôn sẻ nhất, khiến khách hàng hài lòng mà vẫn đem lại lợi nhuận cho mình</span></div>
        </div>
        <div id="cost-detail" class="pull-left">
            <dl>
                <dd class="title">Thông tin thanh toán</dd>
                <dd class="cost">Giá Bán: <span>{{book.cost}}</span>   </dd>
                <!-- Giá sản phẩm -->
                <dd class="exists" ng-style="{'background-image': status}">{{stt}}</dd><!-- Còn hàng/hết hàng -->
            </dl>
            <button class="btn btn-primary">Thêm Vào Giỏ Hàng</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--Sách cùng thể loại-->
    <div id="cur-genere">
        <h2>Sách cùng chuyên mục</h2>
        <ul class="list-inline">
            <li>
                <div class="book-box">
                    <div class="img">
                        <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                            <h4 class="title">
                                <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                            </h4>
                        </a>
                    </div>
                    <p class="author">Huỳnh Vĩnh Sơn</p>
                    <p class="rating">****</p>
                    <div class="cost">70,000đ</div>
                    <div class="btn-add">
                        <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                            <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="book-box">
                    <div class="img">
                        <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                            <h4 class="title">
                                <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                            </h4>
                        </a>
                    </div>
                    <p class="author">Huỳnh Vĩnh Sơn</p>
                    <p class="rating">****</p>
                    <div class="cost">70,000đ</div>
                    <div class="btn-add">
                        <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                            <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="book-box">
                    <div class="img">
                        <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                            <h4 class="title">
                                <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                            </h4>
                        </a>
                    </div>
                    <p class="author">Huỳnh Vĩnh Sơn</p>
                    <p class="rating">****</p>
                    <div class="cost">70,000đ</div>
                    <div class="btn-add">
                        <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                            <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="book-box">
                    <div class="img">
                        <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                            <h4 class="title">
                                <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                            </h4>
                        </a>
                    </div>
                    <p class="author">Huỳnh Vĩnh Sơn</p>
                    <p class="rating">****</p>
                    <div class="cost">70,000đ</div>
                    <div class="btn-add">
                        <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                            <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="book-box">
                    <div class="img">
                        <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                            <h4 class="title">
                                <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                            </h4>
                        </a>
                    </div>
                    <p class="author">Huỳnh Vĩnh Sơn</p>
                    <p class="rating">****</p>
                    <div class="cost">70,000đ</div>
                    <div class="btn-add">
                        <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                            <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>