<div id="checkout-cart" class="col-md-12 container">
    <div class="row">
        <div id="form" class="col-md-8 container">
            <div class="row product">
                <div class="col-md-6">
                    <h5>Sản phẩm trong giỏ hàng</h5>
                    <span class="badge">{{cart.length}}</span>
                </div>
                <div class="col-md-2">Giá mua</div>
                <div class="col-md-2">Số lượng</div>
                <div class="col-md-2">Thành tiền</div>
            </div>
            <div class="row product" ng-repeat="book in cart">
                <div class="col-md-6 container">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-responsive" ng-src="{{book.image}}">
                        </div>
                        <div class="col-md-7">
                            <div class="title"><a href="#">{{book.title}}</a></div>
                            <div class="b-item">Tác giả: <a href="#">{{book.author}}</a></div>
                            <div class="b-item"><a href="javascript:void(0);" ng-click="deleteBookCart(index)" class="btn btn-link btn-item-delete">Xóa</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 cost">{{book.cost}} đ</div>
                <div class="col-md-2"><input class="form-control" type="number" value="1" min="0" style="width: 90%" ng-model="book.number" ></div>
                <div class="col-md-2 cost">{{book.cost * book.number}} đ</div>
            </div>

            <div style="margin-top: -5px; margin-left: 10px">
                <a class="btn btn-default btn-gradient" href="/"><i class="fa fa-angle-left"></i> Tiếp tục mua sắm</a>
            </div>
        </div>
        <div id="bill" class="col-md-4">
            <div class="total">
                <span class="title">Thành tiền: </span>
                <span class="item">{{total()}} đ</span>
            </div>
            <h5>Thông tin nhận hàng</h5>
            <form id="to" class="form-group">
                <label>Họ tên </label>
                <input type="text" name="full_name" class="form-control address" id="full_name" placeholder="Nhập họ tên" required="true">

                <label>Điện thoại </label>
                <input type="tel" name="full_name" class="form-control address" id="tel" placeholder="Nhập số điện thoại" required="true">

                <label>Email </label>
                <input type="email" name="full_name" class="form-control address" id="email" placeholder="Nhập địa chỉ email" required="true">

                <label>Địa chỉ </label>
                <input type="text" name="full_name" class="form-control address" id="address" placeholder="Nhập nơi nhận hàng" required="true">

                <button id="order" type="button" class="btn btn-large btn-block btn-default btn-checkout">
                    ĐẶT HÀNG NGAY
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="cur-genere" class="genere">
            <h5>Gợi ý cho giỏ hàng của bạn</h5>
            <ul class="list-inline">
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>