<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to H-Book</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <script src="https://use.fontawesome.com/89763e860b.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/angularfire/dist/angularfire.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>
<div id="h-guest" data-ng-app="hidrobook">
    <div class="container" ng-controller="controlerapp">
        <!-- Header -->
        <div id="header" class="row">
            <div class="col-md-3 pull-left">
                <h1 id="logo"><a href="javascript:void(0)"><img src="images/logo.png"></a></h1>
            </div>

            <div class="col-md-9">
                <img id="professor" src="images/professor.png">
                <div class="pull-right" id="shop-cart">
                    <a><img src="images/shopcart.png">SHOPING: now in your cart 0 items</a>
                </div>
                <ul class="list-inline nav navbar" id="menu">
                    <ul class="list-inline nav navbar-nav">
                        <li class="active"><a href="#" >Home</a></li>
                        <li><a href="#">Search</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </ul>
                <div id="search" class="pull-right">
                    <input id="keyword" type="text" name="txtsearch" placeholder="Nhập tên sách" ng-model="searchbook" ng-readonly="!issearchbook">
                    <input type="button" class="btn btn-primary" value="Search" ng-click="btnsearch()">
                </div>
            </div>
        </div>
           <!-- chức năng search book -->
              <div ng-show="issearchbook">
                <h3>Kết quả search</h3>
                <ul class="list-inline">
                    <li ng-repeat="book in filterallBook(books)| filter:searchbook">
                        <div class="book-box">
                            <div class="img">
                                <a href="#" title="Title-Book"><img src="{{book.image}}" title="{{book.title}}">
                                    <h4 class="title">
                                        <a  href="#" title="{{book.image}}" ng-bind="book.title"></a>
                                    </h4>
                                </a>
                            </div>
                            <p class="author" ng-bind="book.author"></p>
                            <p class="rating" ng-bind="book.rating"></p>
                            <div class="cost" ng-bind="book.cost"></div>
                            <div class="btn-add">
                                <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                    <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        <!--nội dung Content -->
        <div id="content" class="row" ng-show="!issearchbook">
            <!-- category -->
            <div id="v-menu" class="col-md-2">
                <div id="v-header" class="list-group-item"><h1>Danh Mục Sách</h1></div>
                <ul class="list-group">
                    <li class="list-group-item">Sản phẩm mới</li>
                    <li class="list-group-item">Sách bán chạy</li>
                    <li class="list-group-item">Sách Kinh Tế</li>
                    <li class="list-group-item">Sách Thiếu Nhi</li>
                    <li class="list-group-item">Sách Phát Triển Bản Thân</li>
                    <li class="list-group-item">Sách Văn Học - Tiểu Thuyết</li>
                    <li class="list-group-item">Sách Truyện Thiếu Nhi</li>
                    <li class="list-group-item">Truyện Tranh, Manga, Comic</li>
                    <li class="list-group-item">Sách Kĩ Năng</li>
                    <li class="list-group-item">Sách Học Ngoại Ngữ</li>
                </ul>
            </div>
            <!-- Slider and Book -->
            <div id="book" class="col-md-10 pull-right">
                <!--Slider -->
                <div id="slide" data-ng-controller="CarouselCtrl">
                    <div>
                        <carousel interval="myInterval">
                            <slide ng-repeat="slide in slides" active="slide.active">
                                <img ng-src="{{slide.image}}">
                                <div class="carousel-caption">
                                    <!-- <h4>Slide {{$index+1}}</h4> -->
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
             
                <!-- New Product -->
                <div id="new-product">
                    <h3>SẢN PHẨM MỚI</h3>
                    <ul class="list-inline">
                        <li ng-repeat="book in filterBookquery(filterallBook(books), 'new')">
                            <div class="book-box">
                                <div class="img">
                                    <a href="#" title="Title-Book"><img src="{{book.image}}" title="{{book.title}}">
                                        <h4 class="title">
                                            <a  href="#" title="{{book.image}}" ng-bind="book.title"></a>
                                        </h4>
                                    </a>
                                </div>
                                <p class="author" ng-bind="book.author"></p>
                                <p class="rating" ng-bind="book.rating"></p>
                                <div class="cost" ng-bind="book.cost"></div>
                                <div class="btn-add">
                                    <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                        <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                        Thêm vào giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="sale-product">
                    <h3>SẢN PHẨM BÁN CHẠY</h3>
                    <ul class="list-inline">
                       <li ng-repeat="book in filterBookquery(filterallBook(books), 'max')">
                            <div class="book-box">
                                <div class="img">
                                    <a href="#" title="Title-Book"><img src="{{book.image}}" title="{{book.title}}">
                                        <h4 class="title">
                                            <a  href="#" title="{{book.image}}" ng-bind="book.title"></a>
                                        </h4>
                                    </a>
                                </div>
                                <p class="author" ng-bind="book.author"></p>
                                <p class="rating" ng-bind="book.rating"></p>
                                <div class="cost" ng-bind="book.cost"></div>
                                <div class="btn-add">
                                    <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                        <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                        Thêm vào giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="{{type.key}}" ng-repeat="type in types">
                    <h3 ng-bind="books[type.key].name"></h3>
                    <ul class="list-inline">
                       <li ng-repeat="book in books[type.key].data">
                            <div class="book-box">
                                <div class="img">
                                    <a href="#" title="Title-Book"><img src="{{book.image}}" title="{{book.title}}">
                                        <h4 class="title">
                                            <a  href="#" title="{{book.image}}" ng-bind="book.title"></a>
                                        </h4>
                                    </a>
                                </div>
                                <p class="author" ng-bind="book.author"></p>
                                <p class="rating" ng-bind="book.rating"></p>
                                <div class="cost" ng-bind="book.cost"></div>
                                <div class="btn-add">
                                    <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                        <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                        Thêm vào giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer id="footer" class="row">
            <div class="col-md-4">
                <h3>Hidro <span>Team</span></h3>
                <!--p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">Blog</a>
                    ·
                    <a href="#">Pricing</a>
                    ·
                    <a href="#">About</a>
                    ·
                    <a href="#">Faq</a>
                    ·
                    <a href="#">Contact</a>
                </p>-->
                <p class="footer-company-name">HidroTeam &copy; 2015</p>
            </div>
            <div class="col-md-4 pull-left">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>227 Nguyen Van Cu</span> HoChiMinh, VietNam</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+84 972678420</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@h2team.com">support@h2team.com</a></p>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </footer>
        <!-- end-foother -->
    </div>

</div>
</body>
</html>