<div id="admin-view" ng-controller="adminapp">
    <div id="v-menu" class="col-md-2">
        <div id="v-header" class="list-group-item"><h1>Menu</h1></div>
        <ul class="list-group">
            <li class="list-group-item"><a href="javascript:void(0)" ng-click="turnflag('add')">Thêm sách</a></li>
            <li class="list-group-item"><a href="javascript:void(0)" ng-click="turnflag('delete')">Xóa sách</a></li>
            <li class="list-group-item"><a href="javascript:void(0)" ng-click="turnflag('update')">Cập nhật thông tin sách</a></li>
            <li class="list-group-item"><a href="javascript:void(0)">Danh sách hóa đơn mua hàng</a></li>
        </ul>
    </div>
    <!-- thêm sách -->
    <div id = "v-addbook" class="clearfix col-md-4 col-md-offset-4" ng-show="flag['add']">
        <div class="row" ng-repeat="content in contentBook">
            <div class="col-md-5" ng-bind="content"></div>
            <div class="col-md-5"><input type="text" name="" ng-model="book[content]"></div>
        </div>
        <input type="button" name="SET" value="SET" ng-click="addBook('KT')">
    </div>
    <div id = "v-deletebook" class="clearfix col-md-4 col-md-offset-4" ng-show="flag['delete']">
        <div class="row" ng-repeat="content in contentBook">
            <div class="col-md-5" ng-bind="content"></div>
            <div class="col-md-5"><input type="text" name="" ng-model="book[content]"></div>
        </div>
        <input type="button" name="SET" value="SET" ng-click="addBook('KT')">
    </div>
    <div id = "v-updatebook" class="clearfix col-md-4 col-md-offset-4" ng-show="flag['update']">
        <div class="row" ng-repeat="content in contentBook">
            <div class="col-md-5" ng-bind="content"></div>
            <div class="col-md-5"><input type="text" name="" ng-model="book[content]"></div>
        </div>
        <input type="button" name="SET" value="SET" ng-click="addBook('KT')">
    </div>
</div>