<div id="admin-view">
    <div id="v-menu" class="col-md-2">
        <div id="v-header" class="list-group-item"><h1>Menu</h1></div>
        <ul class="list-group">
            <li class="list-group-item"><a href="javascript:void(0)">Thêm sách</a></li>
            <li class="list-group-item"><a href="javascript:void(0)">Xóa sách</a></li>
            <li class="list-group-item"><a href="javascript:void(0)">Cập nhật thông tin sách</a></li>
            <li class="list-group-item"><a href="javascript:void(0)">Danh sách hóa đơn mua hàng</a></li>
        </ul>
    </div>
</div>