<div id="user-view">
    <!--Slider -->
    <div id="slide" ng-controller="CarouselCtrl">
        <div>
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}">
                    <div class="carousel-caption">
                        <h4>Slide {{$index+1}}</h4>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>

    <div id="book-data">
        <!-- New Product -->
        <div id="new-product">
            <h3>SẢN PHẨM MỚI</h3>
            <ul class="list-inline">
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Sale Product -->
        <div id="sale-product">
            <h3>SẢN PHẨM BÁN CHẠY</h3>
            <ul class="list-inline">
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Economic Book -->
        <div id="economic-book">
            <h3>SÁCH KINH TẾ</h3>
            <ul class="list-inline">
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Child Book -->
        <div id="child-book">
            <h3>SÁCH THIẾU NHI</h3>
            <ul class="list-inline">
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Faculty Book -->
        <div id="book-faculty">
            <h3>SÁCH CHUYÊN NGÀNH</h3>
            <ul class="list-inline">
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="book-box">
                        <div class="img">
                            <a href="#" title="Title-Book"><img src="https://vcdn.tikicdn.com/cache/250x372/media/catalog/product/n/u/nuoc my nuoc my.u335.d20160428.t181355.jpg" title="Ý Tưởng Này Là Của Chúng Mình">
                                <h4 class="title">
                                    <a  href="http://nhasachnguyenvancu.com/sach-kinh-te/marketing-ban-hang/y-tuong-nay-la-cua-chung-minh.html" title="Ý Tưởng Này Là Của Chúng Mình">Ý Tưởng Này Là Của Chúng Mình asdfasdfasdfasdfsadfasdfasdf</a>
                                </h4>
                            </a>
                        </div>
                        <p class="author">Huỳnh Vĩnh Sơn</p>
                        <p class="rating">****</p>
                        <div class="cost">70,000đ</div>
                        <div class="btn-add">
                            <button data-sku="8935235208544" data-title="Nước Mỹ, Nước Mỹ Và Những Truyện Ngắn Mới" data-price="56000" data-src="" type="button" data-product-type="simple" class="btn btn-large btn-block btn-default add-to-cart" data-id="208503">
                                <img src="https://vcdn.tikicdn.com/assets/img/ico10.png" height="14" width="18" alt="">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>